@bg-primary: rgb(51, 51, 51);
@bg-secondary: rgb(37, 37, 37);
@bg-editor: rgb(30, 30 , 30);
@text-primary: #f2f2f2;
@text-secondary: #eeeeee;


@color-primary: #36ac3c;

@color-status: rgb(0, 122, 204);