@import "_variables.less";

html, body, .ide-frame {
    background-color: @bg-primary;
    color: @text-primary;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 600;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2);
}

h1, h2, h3, h4, h5, h6, p, span {
    color: @text-primary;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}
p {
    font-weight: normal;
}

.ide-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    /*height: 1vh;*/

    &.column {
        flex-direction: column;
        > * {
            width: 100vw;
        }
    }

    > * {
        flex: 0 0 auto;
        align-content: stretch;
        align-self: stretch;
        overflow: hidden;
    }
}

.ide-panel {
    padding: 14px;
}

.ide-content {
    order: 0;
    flex: 100 1 auto;
    &.scroll {
        overflow: auto;
    }
}

.ide-editor-wrapper {
    padding: 0;
}

.ide-tab-wrapper {
    width: 100%;
    height: @top-bar-height;
    background-color: @bg-secondary;
    overflow: hidden;

    .ide-tab {
        position: relative;
        cursor: pointer;
        background-color: @bg-primary;
        color: @text-menu;
        font-size: 13px;
        height: @top-bar-height;
        line-height: @top-bar-height;
        min-width: 70px;
        padding-left: 20px;
        padding-right: 30px;
        float: left;
        border-right: 1px solid @bg-editor;
        &.active {
            background-color: @bg-editor;
            color: @text-primary;
        }
    }
}

.ide-menu {
    order: 0;
    flex: 0 0 auto;
    width: 300px;
    background-color: @bg-secondary;
    &.icon-menu {
        padding: 0;
        width: 50px;
        background-color: @bg-primary;
        &.primary {
            background-color: @color-primary;

            .icon-menu-link {
                color: @text-secondary;
            }
        }
        > .project-icons {
            margin-bottom: 20px;
        }
        .icon-menu-link {
            color: @text-menu;
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
            text-align: center;
            &.active {
                color: @text-primary;
            }
            &:hover {
                color: @text-secondary;
            }
        }
    }
}

.ide-menu-header {
    height: @top-bar-height;
    font-size: 11px;
    text-transform: uppercase;
    line-height: @top-bar-height;
    padding-left: 14px;
    color: @text-menu;
    margin: -12px;
    margin-bottom: 0;
}

.ide-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li {
        color: @text-menu;
        font-size: 13px;
        padding-left: 20px;
        height: 24px;
        line-height: 24px;
        margin: 0px -14px;
        cursor: pointer;
        overflow: hidden;

        &.header {
            margin-top: 5px;
            background-color: darken(@bg-primary, 2%);
            cursor: default;
            text-transform: uppercase;
            font-weight: bold;
            color: @text-secondary;
        }

        &:hover {
            color: @text-primary;
            background-color: @bg-menu-item-hover;
        }

        &.active {
            color: @text-primary;
            background-color: @bg-menu-item-active;
        }
    }
}

.ide-pane-frame {
    background-color: @bg-editor;
}
.ide-pane-icon, .ide-tab-close {
    min-width: 16px;
    display: inline-block;
    text-align: center;
}
.ide-route-method {
    width: 48px;
    display: inline-block;
    text-align: left;
    color: @color-status;
}
.ide-tab-close {
    visibility: hidden;
    position: absolute;
    right: 8px;
}
.ide-tab {
    &:hover {
        .ide-tab-close {
            visibility: visible;
        }
    }
}

.ide-editor {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: consolas;

    background-color: @bg-editor !important;
    .ace_gutter {
        background-color: @bg-editor !important;
    }
}
.ide-route-wizard {
    box-sizing: border-box;

    .route-suggestion {
        border-radius: 10px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        padding: 0px 15px;
        background-color: @color-status;
        float: left;
        margin-left: 15px;
        cursor: pointer;
        box-sizing: border-box;
        
        .blank {
            box-sizing: border-box;
            background-color: @bg-primary;
            min-width: 50px;
            padding: 0px 5px;
            min-height: 1px;
            margin: 0 3px;
            display: inline-box;
        }
    }
    .header {
        box-sizing: border-box;
        clear: both;
        padding-top: 15px;
    }
}
.ide-route-editor {
    background-color: lighten(@bg-editor,2%);
    box-sizing: border-box;

    label {
        color: @color-status;
        padding-right: 12px;
    }
    .method-explanation {
        border-left: 4px solid @color-status;
        margin: 10px 0;
        padding: 2px 15px;
        width: 50%;

        div {
            display: inline;
        }
    }
    #route_editor {
        font-size: 24px;
    }
}

.icon-blue {
    color: @color-status;
}

.ide-footer {
    box-sizing: border-box;
    order: 0;
    flex: 0 0 auto;
    height: 200px;
}

.ide-status {
    box-sizing: border-box;
    order: 0;
    flex: 0 0 auto;
    height: 22px;
    background-color: @color-status;
    padding: 0px 20px;
    > div {
        padding: 0 5px;
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        float: left;
        cursor: pointer;
        &:hover {
            background-color: lighten(@color-status, 7%);
        }

        &.right {
            float: right;
        }
    }
}
